.grid-container {
    display: grid;
  grid-template-columns: 0fr 18.5fr 0fr;
  grid-template-rows: 1.2fr 10.3fr 0fr;
  grid-template-areas:
  'nav nav nav'
  '. main .'
  '. footer .';
  height: 100%;
}

body
{
    background-color: #EDF5E1;
}
.footer{
grid-area: footer;
}
.nav{
grid-area: nav;
}
.main{
    padding-top:60px;
grid-area: main;
}